<div class="cust-container">
  <table class="table table-bordered table-sm col-sm-9">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of headers">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td scope="row" *ngFor="let column of row">{{column}}</td>
      </tr>
    </tbody>
  </table>
</div>